:root{
    --bg-color: #F1FAEE;
    --light-fg-color: #a8dadc;
    --light-text-color: #1D3557;
    --dark-fg-color: #457b9d;
    --dark-text-color: #F1FAEE;
    --border-color: #1D3557;
    --highlight-color: #E63946;
}